
.panel {
  padding: 1rem;
  height: 100%;
}

.panel h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.equalTo {
  text-align: center;
}

.panel .box .total-field {
  text-align: right;
  font-weight: 600;
}

.panel .box .subTotal-field {
  text-align: right;
}

.box {
  margin-bottom: 1rem;
}
